body {
  background-color: #000;
  color: #ddd;
  display: flex;
  flex-direction: column;
}

.main-screen {
    display: flex;
    gap: 10px;
}

.statusview {
}

.left-screen {
    display: flex;
    flex-direction: column;
}

.bottom-buttons {
    display: flex;
}

.player {
    color: #fff;
}

.water {
    color: #87CEFA;
}

.grass {
    color: #32CD32;
}

.tree {
    color: #CD853F;
}

.wall {
    color: #DEB887;
}

.fence {
    color: #D2B48C;
}

.mountain {
    color: #8B4513;
}

.dirt {
    color: #F5DEB3;
}

.bridge {
    color: #DEB887;
}

.grain {
    color: #FAFAD2;
}

.window {
    color: #B0C4DE;
}

.blood {
    color: #8B0000;
}
